*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.chat-container{
    width: 100%;
    height: 80%;
    background-color: rgb(238,226,223);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
    overflow: auto;
}
.user-chat-box{
    width: 60%;
    position: relative;
    left:40%;
}
.ai-chat-box{
    width: 60%;
    position: relative;
}
.user-chat-area{
    width: 90%;
    padding: 20px;
    background-color: rgb(47, 128,228);
    color:whitesmoke;
    border-radius: 40px 0px 40px 40px;
    box-shadow: 2px 2px 10px rgb(245, 209, 209);
    display: flex;
    gap:10px;
    flex-direction: column;
}
.chooseimg{
    width: 30%;
    border-radius: 30px;
}
.ai-chat-area{
    width: 90%;
    padding: 20px;
    background-color:  rgb(47, 128,228);
    position: relative;
    left:10%;
    color:whitesmoke;
    border-radius: 0px 40px 40px 40px;
   
}
#userImage{
    position: absolute;
    right: 0;
    filter:drop-shadow(  2px 2px 10px rgb(252, 158, 244));

}
#aiImage{
    position: absolute;
    left:0;
    filter:drop-shadow( 2px 2px 10px rgb(252, 158, 244) );
}
.prompt-area{
    width: 100%;
    height: 20%;
    background-color: rgb(238,226,223);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.prompt-area input{
    width: 50%;
    height: 80px;
    background-color: rgb(109,160,225);
    outline: none;
    border:none;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 10px rgb(222, 186, 231);
}
.prompt-area button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(109,160,225);
    border:none;
    box-shadow: 2px 2px 10px rgb(222, 186, 231);
    cursor: pointer;
    transition: all 0.5s;
}
.prompt-area button:hover{
    background-color: rgba(91,97,178);
}
.load{
    filter:drop-shadow( 2px 2px 10px rgb(252, 158, 244))
}
.choose{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:600px) {
    .user-chat-box{
        width: 80%;
        left:20%
    }
    .ai-chat-box{
        width: 80%;
        right:20%;
    }
    
}
::placeholder {
    color:rgba(255, 255, 255, 0.639);
  }

  